body {
    background-color: #add8e6;
}

/** header */
#header{
	font-size:38px;
	font-family: Bodoni MT;
	font-weight:bold;
	margin-top:35px;
	margin-left:10px;
}
/** menu */
#menu{
	margin-left:18px;
	margin-bottom:30px;
	
}
/** center */
#center{
	font-size:38px;
	font-family: Bodoni MT;
	margin-top:30px;
	margin-bottom:30px;
	font-family: Bodoni MT;
}
/** text */
#text{
	margin-top:170px;
	margin-left:8px;
}

